{% extends '/_partials/base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

    {# include menu #}
    {% include '_partials/menu.html.twig' %}

    {# news with Mediastack #}
    {% for article in new1service %}
        <div class='container_articles'>
            <h2>{{article["title"]}}</h2>
            <div>
                <img alt="{{ article['title'] }}" src="{{ article['urlToImage'] }}">
            </div>
            <div>
                <p>{{article["description"]}}</p>
            </div>
            <p>{{ article['publishedAt'] }} by {{ article['author'] }}</p>
            <a href="{{ article['url'] }}">Lire plus <box-icon name='right-arrow-alt'></box-icon></a>
        </div>
    {% endfor %}

    {# news with NewApi
    {% for article in new2service %}
        <div class='container_articles'>
            <h2>{{article["title"]}}</h2>
            <div>
                <img alt="{{ article['title'] }}" src="{{ article['urlToImage'] }}">
            </div>
            <div>
                <p>{{article["description"]}}</p>
            </div>
            <p>{{ article['publishedAt'] }} by {{ article['author'] }}</p>
            <a href="{{ article['url'] }}">See more</a>
        </div>
    {% endfor %} #}

    {# news with Newsdata
    {% for article in new3service %}
        <div class='container_articles'>
            <h2>{{article["title"]}}</h2>
            <div>
                <img alt="{{ article['title'] }}" src="{{ article['urlToImage'] }}">
            </div>
            <div>
                <p>{{article["description"]}}</p>
            </div>
            <p>{{ article['publishedAt'] }} by {{ article['author'] }}</p>
            <a href="{{ article['url'] }}">See more</a>
        </div>
    {% endfor %} #}

{% endblock %}