{% extends '/_partials/base.html.twig' %}

{% block title %} A la une {% endblock %}

{% block body %}
    {# include menu #}
    {% include '_partials/menu.html.twig' %}

    {# Here recent articles max 5 #}
    {% if article === {{ max }} %}
        <div class="articleRecent">
            {# % for article in articles %}
             <a href="{{ path('article_recentArticles', {slug: article.slug}) }}">
                {{ article.getId() }}<br/>
                {{ article.getName() }}<br/>
                {{ article.getContent }}<br/>

            {% endfor %#}
        </div>
    {% endif %}

{% endblock %}



