{% extends '/_partials/base.html.twig' %}

{% block title %} Article {% endblock %}
{% block body %}
    {# include menu #}
    {% include '_partials/menu.html.twig' %}

        {#  food news with Newsdata #}
        {% for article in new3service %}
            <div class='article'>
                <h2>{{article["title"]}}</h2>
                <div>
                    <img alt="{{ article['title'] }}" src="{{ article['urlToImage'] }}">
                </div>
                <div>
                    <p>{{article["description"]}}</p>
                </div>
                <p>{{ article['publishedAt'] }} by {{ article['author'] }}</p>
                <a href="{{ article['url'] }}">See more</a>
            </div>
        {% endfor %}
        <a href='/'>Retour</a>
    </div>
{% endblock %}

